<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="3" align="center">
        <tr>
            <td bgcolor="19AD20" width="300" align="center">
                <img src="{{ url_for('static', filename='resta.png')}}" width="150"/>
            </td>
            <td colspan="2" bgcolor="19AD20">
                <font face="Arial" size="5">Bienvenido a nuestra paginas de resta de dos numeros</font>
            </td>
        </tr>
        <tr>
            <td bgcolor="8BE78F">
                <font face="Arial" size="3">Introduce los números en el siguiente formulario y realiza la operacion</font>
            </td>
            <td bgcolor="8BE78F">
                <form action="/accionRestar" method="post">
                    <p>Introduce el primer numero:
                        <input type="number" name="numero1" required>
                    </p>
                    <p>Introduce el segundo numero:
                        <input type="number" name="numero2" required>
                    </p>
                    <p>
                        <input type="submit" value="Restar">
                    </p>
                </form>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="8BE78F">
                Pulsa <a href="/menu">aqui</a> para volver a la página principal
            </td>
        </tr>
    </table>
</body>
</html>