<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="4">
        <tr>
            <td bgcolor="2E9C73">
                <font face="Arial" size="6">Resultado:</font>
            </td>
            <td bgcolor="C7E7DB">
                <font face="Arial" size="3">{{numero1}} - {{numero2}} = {{resta}}</font>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center" bgcolor="C7E7DB">
                Pulsa <a href="/menu">aqui</a> para volver a la página principal
            </td>
        </tr>
    </table>
</body>
</html>